// basic font setting
$font-size-basic: 16px;

// basic colors
$SesameBlack: #000000;
$MayoWhite: #fff9d8;
$lightGrey: #f2f2f2;
$BunYellow: #f2a65a;
$PattyBrown: #734f37;
$LettuceGreen: #a6bf69;
$TomatoRed: #d93d3d;
$CheeseYellow: #f2d575;

// color usage
$bg-color-basic: $lightGrey;

$header-color-basic: $LettuceGreen;
$header-text-color-basic: $SesameBlack;

$btn-color-basic: $PattyBrown;
$btn-line-color-basic: $SesameBlack;

$link-color-basic: $CheeseYellow;
$link-color-interactive: $BunYellow;

$text-color-basic: $SesameBlack;
$text-color-reverse: $MayoWhite;
$text-color-interactive: $PattyBrown;
